<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://faebdc.gitcafe.com/" target="_blank" title="千古神犇">faebdc</a></li>
      <li><a href="http://gaotianyu1350.gitcafe.com/" target="_blank" title="这就是叫做GTY的">GTY's Blog</a></li>
      <li><a href="http://blog.csdn.net/iamzky" target="_blank" title=""如果用大号会显得我很弱"">zky's Blog</a></li>
      <li><a href="http://timeplayer.blog.163.com/" target="_blank" title="时光机">TimeMachine's Blog</a></li>
      <li><a href="http://blog.csdn.net/u012739450" target="_blank" title="liangjs">liangjs's Blog</a></li>
      <li><a href="http://www.cnblogs.com/handsomeJian/" target="_blank" title="handsomejian">handsomejian's Blog</a></li>
      <li><a href="http://lavender.logdown.com/" target="_blank" title="大姐">lavender's Blog</a></li>
      <li><a href="http://www.cnblogs.com/hzf-sbit/" target="_blank" title="hzf大爷">hzf's Blog</a></li>
      <li><a href="http://www.cnblogs.com/autsky-jadek/" target="_blank" title="肥皂爱好者">lzt's Blog</a></li>
      <li><a href="http://blog.csdn.net/sddyzjh" target="_blank" title="辉神">sddyzjh's Blog</a></li>
    </ul>
</div>
